{% extends "base.html" %}

{% block content %}
<p>Type here your email:</p> 
<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p> 
    <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
</form>
    
    
{% endblock %}

{% block menu %}

<nav>
    <ul>
        <li><a href="http://www.colouredsweat.com">Our Band</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'contacts:add_contact' %}">Add Contact</a></li>
        <li><a href="{% url 'contacts:contact_form' %}">Contacts List</a></li>
        <li><a href="{% url 'contacts:user_profile' current_user.username %}">Your Profile</a></li>
        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
    {% endif %}
        
        
    </ul>
</nav>

{% endblock %}