
{% extends "base.html" %}

{% block content %}


{% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
    
    
{% endblock %}

{% block menu %}

<nav>
    <ul>
        <li><a href="http://www.colouredsweat.com">Our Band</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'contacts:add_contact' %}">Add Contact</a></li>
        <li><a href="{% url 'contacts:contact_form' %}">Contacts List</a></li>
        <li><a href="{% url 'contacts:user_profile' current_user.username %}">Your Profile</a></li>
        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
    {% endif %}
        
        
    </ul>
</nav>

{% endblock %}